.page {
  padding: 20px;
  font-family: "Arial", sans-serif;
}

.title {
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.no_found {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  color: #ff0000;
  margin-top: 30px;
}